# Brazilian Marketplace Sales Analysis with SQL

## Project Overview

This project explores a real dataset from the Brazilian e-commerce marketplace [Olist](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce), using SQL for data analysis and business insight generation.  
The goal is to showcase data analysis skills, especially in SQL, and uncover trends related to sales, sellers, delivery logistics, and customer reviews.

### Objectives
- Practice advanced SQL techniques on a real-world dataset
- Extract actionable insights about sales behavior, seller performance, and customer satisfaction
- Translate data into business-relevant conclusions and suggestions

### About the Dataset
- Source: [Kaggle – Olist Brazilian E-Commerce Public Dataset](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce)
- Tables include: orders, customers, products, sellers, order reviews, and order items
- Period covered: 2016 to 2018 (with a focus on 2017 and 2018 for comparisons)

### Tools & Skills Used
- SQLite queries executed through Python in a Jupyter Notebook
- SQL concepts applied:
  - Joins and Subqueries
  - Aggregations: `SUM`, `COUNT`, `AVG`
  - Conditional logic: `CASE WHEN`
  - Window functions: `RANK`, `LAG`
  - CTEs (Common Table Expressions)
  - Date manipulation: `strftime`, `julianday`
  - Filtering with `WHERE`, `HAVING`
  - Trend, ranking, and difference calculations

---

## Executive Summary

This analysis explores sales, customer satisfaction, and delivery performance in a Brazilian e-commerce marketplace.  
Using SQL in SQLite and visualized through Jupyter Notebook, the analysis covers orders from 2017 to 2018.

### Key Findings:

- **Revenue grew significantly in 2018**, especially in São Paulo State. Over the sales mix, the revenue growth came from categories like *Health & Beauty*, *Watches & Gifts*, and *Home Utilities*.
- **A quantity-focused sales strategy** (lower average prices, higher volume) outperformed high-price product strategies.
- **12% of 2018 revenue came from new sellers**, reinforcing the value of active seller onboarding.
- **Delivery delays were the main cause of bad customer reviews**, especially in states with logistical challenges.
- **The 17-day average delivery time created a one-month lag between delivery issues and customer reviews.

### Suggested Business Actions:

1. **Improve logistics operations in key delay-heavy states**, especially CE, SE, and MA.
2. **Refine estimated delivery dates** shown to customers to reduce expectations gaps.
3. **Onboard new sellers in fast-selling categories** to increase revenue diversity.
4. **Monitor logistics partners’ handoff-to-delivery times**, especially during peak months.
5. **Double down on São Paulo**, as it's the highest-performing region in both revenue and growth.

In [1]:
#Libraries to run the analysis in jupyter lab

import os
import sqlite3
import pandas as pd

#forces the code to look to the right files
os.chdir(r'C:\Users\Vezpa\Mktplace')

# Connect to SQLite archive
conn = sqlite3.connect('olist.sqlite')

In [2]:
#Table overview

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

                                 name
0   product_category_name_translation
1                             sellers
2                           customers
3                         geolocation
4                         order_items
5                      order_payments
6                       order_reviews
7                              orders
8                            products
9                     leads_qualified
10                       leads_closed

# Sales Analysis

The first step of this analysis is to understand the sales behavior of delivered orders, excluding cancellations and orders still in transit that may be canceled.

In [3]:
sales_through_time = """

    SELECT
    *
    ,ROUND(sales - LAG(sales) OVER (ORDER BY year, month ASC),1) difference_MoM
    ,ROUND(((sales - LAG(sales) OVER (ORDER BY year, month ASC)) / LAG(sales) OVER (ORDER BY year, month ASC))*100,1) pct_difference_MoM    
    ,ROUND(sales - LAG(sales,12,null) OVER (ORDER BY year, month ASC),1) difference_YoY
    ,ROUND(((sales - LAG(sales,12,null) OVER (ORDER BY year, month ASC)) / LAG(sales,12,null) OVER (ORDER BY year, month ASC))*100,1) pct_difference_YoY

    FROM (SELECT
            SUBSTR(order_purchase_timestamp,1,4) year
            ,SUBSTR(order_purchase_timestamp,6,2) month
            ,ROUND(SUM(OI.price),1) sales

            FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        

            WHERE O.order_status = 'delivered' AND SUBSTR(order_purchase_timestamp,1,4)<> "2016"
            

        GROUP BY 2,1
        
        ORDER BY 1,2 ASC)
"""

pd.read_sql_query(sales_through_time, conn)

,year,month,sales,difference_MoM,pct_difference_MoM,difference_YoY,pct_difference_YoY
0,2017,01,111798.4,NaN,NaN,NaN,NaN
1,2017,02,234223.4,122425.0,109.5,NaN,NaN
2,2017,03,359198.8,124975.4,53.4,NaN,NaN
3,2017,04,340669.7,-18529.1,-5.2,NaN,NaN
4,2017,05,489338.3,148668.6,43.6,NaN,NaN
5,2017,06,421923.4,-67414.9,-13.8,NaN,NaN
6,2017,07,481604.5,59681.1,14.1,NaN,NaN
7,2017,08,554699.7,73095.2,15.2,NaN,NaN
8,2017,09,607399.7,52700.0,9.5,NaN,NaN
9,2017,10,648247.7,40848.0,6.7,NaN,NaN
10,2017,11,987765.4,339517.7,52.4,NaN,NaN
11,2017,12,726033.2,-261732.2,-26.5,NaN,NaN
12,2018,01,924645.0,198611.8,27.4,812846.6,727.1
13,2018,02,826437.1,-98207.9,-10.6,592213.7,252.8
14,2018,03,953356.3,126919.2,15.4,594157.5,165.4
15,2018,04,973534.1,20177.8,2.1,632864.4,185.8
16,2018,05,977544.7,4010.6,0.4,488206.4,99.8
17,2018,06,856077.9,-121466.8,-12.4,434154.5,102.9
18,2018,07,867953.5,11875.6,1.4,386349.0,80.2
19,2018,08,838576.6,-29376.9,-3.4,283876.9,51.2

## Key Insights

- In every month of 2018, sales were higher than in the same month of the previous year.  
- In 2017, there was a strong month-over-month growth, indicating a significant acceleration during the first year of operations.  
    - At least four months in 2017 saw sales increases of 40% or more.  
- A potential seasonality effect was observed in June, where both 2017 and 2018 experienced a 12–13% drop in sales compared to the previous month.

Based on these findings, we’ll now dive deeper into the key dimensions driving sales: **Sellers**, **Geography**, **Products**, and **Order Cancellations**.

# Geographic Sales Analysis

In [4]:
sales_by_customer_state = """

WITH sales_2018 as (SELECT

        C.customer_state
        ,SUM(OI.price) value
        ,SUM(OI.price) /
            (
                SELECT SUM(OI.price)        
                FROM orders O
                LEFT JOIN order_items OI ON OI.order_id = O.order_id
                WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2018"
            ) sales_percentage

        FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN customers C ON C.customer_id = O.customer_id

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2018"

        GROUP BY 1

        ORDER BY SUM(OI.price) DESC) 



SELECT * 
    ,sales_pct_2018 - sales_pct_2017 pct_var_YoY
    ,SUM(sales_pct_2017) OVER (ORDER BY value_2018 DESC) cummulative_pct_2017
    ,SUM(sales_pct_2018) OVER (ORDER BY value_2018 DESC) cummulative_pct_2018
    
   FROM (SELECT

        C.customer_state
        ,ROUND(S18.value,1) value_2018
        ,ROUND(SUM(OI.price),1) value_2017
        ,ROUND(S18.value - SUM(OI.price),1) sales_var_YoY
        ,ROUND(S18.sales_percentage*100,1) sales_pct_2018
        ,ROUND((SUM(OI.price) /
            (
                SELECT SUM(OI.price)        
                FROM orders O
                LEFT JOIN order_items OI ON OI.order_id = O.order_id
                WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2017"
            ))*100,1) sales_pct_2017

        FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN customers C ON C.customer_id = O.customer_id
        LEFT JOIN sales_2018 S18 ON C.customer_state = S18.customer_state

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2017"

        GROUP BY 1

        ORDER BY SUM(OI.price) DESC) state_sales

    ;
"""

pd.read_sql_query(sales_by_customer_state, conn)

,customer_state,value_2018,value_2017,sales_var_YoY,sales_pct_2018,sales_pct_2017,pct_var_YoY,cummulative_pct_2017,cummulative_pct_2018
0,SP,2919328.2,2136259.0,783069.2,40.4,35.8,4.6,35.8,40.4
1,RJ,874934.1,876499.7,-1565.6,12.1,14.7,-2.6,50.5,52.5
2,MG,840172.2,708034.7,132137.5,11.6,11.9,-0.3,62.4,64.1
3,PR,376623.2,287424.8,89198.4,5.2,4.8,0.4,67.2,69.3
4,RS,375581.1,350792.8,24788.4,5.2,5.9,-0.7,73.1,74.5
5,SC,281524.7,223249.3,58275.4,3.9,3.7,0.2,76.8,78.4
6,BA,265885.8,227453.4,38432.4,3.7,3.8,-0.1,80.6,82.1
7,DF,164284.9,131169.7,33115.2,2.3,2.2,0.1,82.8,84.4
8,ES,152031.1,115752.6,36278.5,2.1,1.9,0.2,84.7,86.5
9,GO,148131.2,133801.0,14330.2,2.1,2.2,-0.1,86.9,88.6
10,PE,134193.9,116446.0,17747.9,1.9,2.0,-0.1,88.9,90.5
11,CE,107628.7,110479.0,-2850.3,1.5,1.9,-0.4,90.8,92.0
12,PA,84941.3,88441.6,-3500.3,1.2,1.5,-0.3,92.3,93.2
13,MT,76092.6,76051.2,41.5,1.1,1.3,-0.2,93.6,94.3
14,MS,62752.3,52677.6,10074.7,0.9,0.9,0.0,94.5,95.2
15,PB,62565.9,49971.0,12594.9,0.9,0.8,0.1,95.3,96.1
16,MA,57461.3,58843.8,-1382.6,0.8,1.0,-0.2,96.3,96.9
17,PI,49235.4,35275.6,13959.9,0.7,0.6,0.1,96.9,97.6
18,RN,46296.7,35080.3,11216.4,0.6,0.6,0.0,97.5,98.2
19,AL,35462.8,43342.9,-7880.1,0.5,0.7,-0.2,98.2,98.7
20,SE,26409.8,29878.9,-3469.1,0.4,0.5,-0.1,98.7,99.1
21,TO,24951.4,23451.1,1500.2,0.3,0.4,-0.1,99.1,99.4
22,RO,21563.2,24119.6,-2556.4,0.3,0.4,-0.1,99.5,99.7
23,AM,11717.4,10438.5,1278.9,0.2,0.2,0.0,99.7,99.9
24,AP,7427.7,5947.1,1480.5,0.1,0.1,0.0,99.8,100.0
25,RR,5613.0,1404.8,4208.3,0.1,0.0,0.1,99.8,100.1
26,AC,5315.0,10616.0,-5301.0,0.1,0.2,-0.1,100.0,100.2

## States Ranked by Revenue Growth from 2017 to 2018

In [5]:
sales_by_state = """

WITH sales_2018 as (SELECT

        C.customer_state
        ,SUM(OI.price) value

        FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN customers C ON C.customer_id = O.customer_id

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2018"

        GROUP BY 1

        ORDER BY SUM(OI.price) DESC) 



SELECT 
       RANK() OVER(ORDER BY S18.value - SUM(OI.price) DESC) as Revenue_Variation_Rank
        ,C.customer_state
        ,ROUND(S18.value,1) value_2018
        ,ROUND(SUM(OI.price),1) value_2017
        ,ROUND(S18.value - SUM(OI.price),1) sales_diff_2018_to_2017
        ,ROUND(((S18.value - SUM(OI.price))/SUM(OI.price))*100,1) State_YoY

        FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN customers C ON C.customer_id = O.customer_id
        LEFT JOIN sales_2018 S18 ON C.customer_state = S18.customer_state

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= "2017"

        GROUP BY 2

        ORDER BY S18.value - SUM(OI.price) DESC

    ;
"""

pd.read_sql_query(sales_by_state, conn)

,Revenue_Variation_Rank,customer_state,value_2018,value_2017,sales_diff_2018_to_2017,State_YoY
0,1,SP,2919328.2,2136259.0,783069.2,36.7
1,2,MG,840172.2,708034.7,132137.5,18.7
2,3,PR,376623.2,287424.8,89198.4,31.0
3,4,SC,281524.7,223249.3,58275.4,26.1
4,5,BA,265885.8,227453.4,38432.4,16.9
5,6,ES,152031.1,115752.6,36278.5,31.3
6,7,DF,164284.9,131169.7,33115.2,25.2
7,8,RS,375581.1,350792.8,24788.4,7.1
8,9,PE,134193.9,116446.0,17747.9,15.2
9,10,GO,148131.2,133801.0,14330.2,10.7
10,11,PI,49235.4,35275.6,13959.9,39.6
11,12,PB,62565.9,49971.0,12594.9,25.2
12,13,RN,46296.7,35080.3,11216.4,32.0
13,14,MS,62752.3,52677.6,10074.7,19.1
14,15,RR,5613.0,1404.8,4208.3,299.6
15,16,TO,24951.4,23451.1,1500.2,6.4
16,17,AP,7427.7,5947.1,1480.5,24.9
17,18,AM,11717.4,10438.5,1278.9,12.3
18,19,MT,76092.6,76051.2,41.5,0.1
19,20,MA,57461.3,58843.8,-1382.6,-2.3
20,21,RJ,874934.1,876499.7,-1565.6,-0.2
21,22,RO,21563.2,24119.6,-2556.4,-10.6
22,23,CE,107628.7,110479.0,-2850.3,-2.6
23,24,SE,26409.8,29878.9,-3469.1,-11.6
24,25,PA,84941.3,88441.6,-3500.3,-4.0
25,26,AC,5315.0,10616.0,-5301.0,-49.9
26,27,AL,35462.8,43342.9,-7880.1,-18.2

## City-Level Revenue Rankings Within the Top States

In [6]:
sales_by_customer_state_and_city = """
WITH city_sales_2017 AS (
SELECT
        CS.customer_city
        ,SUM(OI.price) value     

        FROM orders O

        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN customers CS ON CS.customer_id = O.customer_id

        WHERE O.order_status = 'delivered' 
            AND CS.customer_state IN ('SP','MG','PR','SC','BA') 
            AND SUBSTR(O.order_purchase_timestamp,1,4)= "2017"

        GROUP BY 1

        ORDER BY SUM(OI.price) DESC)



SELECT * 

        FROM (SELECT

                CS.customer_city
                ,CS.customer_state
                ,SUM(OI.price) value_2018
                ,C17.value value_2017
                ,SUM(OI.price) - C17.value value_diff_YoY
                ,RANK() OVER(PARTITION BY CS.customer_state ORDER BY SUM(OI.price) - C17.value DESC) AS city_ranking_inside_state
                ,RANK() OVER(ORDER BY SUM(OI.price) - C17.value DESC) AS general_ranking

                FROM orders O

                LEFT JOIN order_items OI ON OI.order_id = O.order_id
                LEFT JOIN customers CS ON CS.customer_id = O.customer_id
                LEFT JOIN city_sales_2017 C17 ON CS.customer_city = C17.customer_city

                WHERE O.order_status = 'delivered' 
                    AND CS.customer_state IN ('SP','MG','PR','SC','BA')
                    AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018'

                GROUP BY 1,2

                ORDER BY general_ranking ASC) initial_ranking
                
            WHERE general_ranking <= 15
    
    
    ;
"""


pd.read_sql_query(sales_by_customer_state_and_city, conn)

,customer_city,customer_state,value_2018,value_2017,value_diff_YoY,city_ranking_inside_state,general_ranking
0,sao paulo,SP,1103641.29,752425.64,351215.65,1,1
1,belo horizonte,MG,199179.91,145665.88,53514.03,1,2
2,curitiba,PR,122566.77,83014.88,39551.89,1,3
3,santos,SP,64087.29,33808.78,30278.51,2,4
4,guarulhos,SP,81484.69,57443.60,24041.09,3,5
5,campinas,SP,103429.74,80776.55,22653.19,4,6
6,jundiai,SP,47768.89,32629.15,15139.74,5,7
7,sao jose dos campos,SP,45102.54,30305.87,14796.67,6,8
8,santo andre,SP,51151.82,37887.71,13264.11,7,9
9,sao bernardo do campo,SP,57763.57,44647.87,13115.70,8,10
10,florianopolis,SC,48316.95,35726.90,12590.05,1,11
11,barueri,SP,30750.49,19105.32,11645.17,9,12
12,salvador,BA,92209.56,81063.49,11146.07,1,13
13,praia grande,SP,24591.59,13690.93,10900.66,10,14
14,sorocaba,SP,42718.55,31832.64,10885.91,11,15

- São Paulo is the only state that increased its share of national sales by more than 1%.  
- SP, MG, PR, SC, and BA were the states with the largest sales growth in 2018 (up to August), compared to the full year of 2017.  
- The sales increase was highly concentrated in cities within São Paulo state: 11 of the top 15 cities were in SP, with only the capital cities of other states appearing in the ranking.

# Sales Mix Analysis

We begin by analyzing the revenue, quantity of items sold, and average price by product category to better understand the composition of the sales mix.

## Top Revenue Categories of 2018

In [7]:
top_15_revenues_of_2018 = """WITH ly_sales AS (
    SELECT 
        P.product_category_name,
        SUM(OI.price) AS revenue,
        RANK() OVER (ORDER BY COUNT(OI.product_id) DESC) AS qty_rank_2017,
        RANK() OVER (ORDER BY SUM(OI.price)*1.0 / COUNT(OI.product_id) DESC) AS avg_price_rank_2017
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id = P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2017'
    GROUP BY P.product_category_name
),

sales_2018 AS (
    SELECT     
        P.product_category_name,
        ROUND(SUM(OI.price) * 100.0 / (
            SELECT SUM(OI.price)
            FROM order_items OI
            LEFT JOIN orders O ON OI.order_id = O.order_id
            WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
        ), 2) AS revenue_share_2018,
        SUM(OI.price) AS revenue_2018,
        ly.revenue AS revenue_2017,
        SUM(OI.price) - ly.revenue AS dif_revenue,
        RANK() OVER (ORDER BY COUNT(OI.product_id) DESC) AS qty_rank_2018,
        ly.qty_rank_2017,
        RANK() OVER (ORDER BY SUM(OI.price)*1.0 / COUNT(OI.product_id) DESC) AS avg_price_rank_2018,
        ly.avg_price_rank_2017,
        RANK() OVER (ORDER BY SUM(OI.price) DESC) AS sales_ranked_2018
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id = P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    LEFT JOIN ly_sales ly ON ly.product_category_name = P.product_category_name
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
    GROUP BY P.product_category_name
    HAVING SUM(OI.price) > 10000
)

SELECT *,
    SUM(revenue_share_2018) OVER (ORDER BY revenue_share_2018 DESC) AS cummulative_revenue_2018
FROM sales_2018
WHERE sales_ranked_2018 <= 15;
"""

pd.read_sql_query(top_15_revenues_of_2018, conn)

,product_category_name,revenue_share_2018,revenue_2018,revenue_2017,dif_revenue,qty_rank_2018,qty_rank_2017,avg_price_rank_2018,avg_price_rank_2017,sales_ranked_2018,cummulative_revenue_2018
0,beleza_saude,10.47,755724.50,473833.00,281891.50,1,4,25,28,1,10.47
1,relogios_presentes,9.53,687855.20,475610.71,212244.49,7,10,9,11,2,20.00
2,cama_mesa_banho,7.38,532358.85,490596.92,41761.93,2,1,40,48,3,27.38
3,esporte_lazer,7.16,517166.26,435674.14,81492.12,4,3,28,40,4,34.54
4,informatica_acessorios,6.88,496269.30,391786.29,104483.01,3,5,35,30,5,41.42
5,utilidades_domesticas,5.43,391823.46,222518.16,169305.30,6,6,38,57,6,46.85
6,moveis_decoracao,5.29,381649.57,324587.60,57061.97,5,2,39,56,7,52.14
7,automotivo,4.76,343288.30,234550.09,108738.21,8,13,22,21,8,56.90
8,bebes,3.47,250615.79,148434.88,102180.91,12,14,19,36,9,60.37
9,cool_stuff,3.16,227743.70,381414.30,-153670.60,16,9,15,17,10,63.53
10,ferramentas_jardim,2.94,212186.20,256949.20,-44763.00,10,8,30,42,11,66.47
11,perfumaria,2.42,174372.00,210943.55,-36571.55,13,12,33,34,12,68.89
12,telefonia,2.41,174123.68,135508.26,38615.42,9,11,45,65,13,71.30
13,brinquedos,2.33,168123.27,299056.71,-130933.44,15,7,29,37,14,73.63
14,moveis_escritorio,1.95,140578.35,126275.08,14303.27,18,19,13,19,15,75.58

A significant portion of revenue is concentrated in a few product categories.

- In 2018, the top 10 best-selling categories accounted for 63% of total sales, and the top 15 made up 75%.

Selling a large volume of items is more impactful than maintaining a high average price per item.

- 13 out of the 15 highest-revenue categories also appear in the top 15 for items sold, while only 2 appear in the top 15 for average price.
- This pattern was also observed in the 2017 sales data.

## Average Sales Price by Category

In [8]:
avg_price_items ="""

WITH ly_sales AS (

SELECT 
    P.product_category_name
    ,SUM(OI.price) / COUNT(OI.product_id) avg_revenue
    ,RANK() OVER(ORDER BY SUM(OI.price) DESC) revenue_rank_2017
    ,RANK() OVER(ORDER BY COUNT(OI.product_id) DESC) qty_rank_2017
    
    
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id= P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2017'
    
    GROUP BY 1
    
    )
    
    SELECT * 
    FROM
        (SELECT
            RANK() OVER(ORDER BY SUM(OI.price) / COUNT(OI.product_id) DESC) rank_avg_price
            ,P.product_category_name
            ,ROUND(SUM(OI.price) / COUNT(OI.product_id),2) avg_price_2018
            ,ROUND(ly.avg_revenue,2) avg_price_2017
            ,ROUND((SUM(OI.price) / COUNT(OI.product_id)),2) - ly.avg_revenue dif_avg_price
            ,RANK() OVER(ORDER BY SUM(OI.price) DESC) revenue_rank_2018
            ,ly.revenue_rank_2017
            ,RANK() OVER(ORDER BY COUNT(OI.product_id) DESC) qty_rank_2018
            ,ly.qty_rank_2017

        FROM products P
        LEFT JOIN order_items OI ON OI.product_id= P.product_id
        LEFT JOIN orders O ON OI.order_id = O.order_id
        LEFT JOIN ly_sales ly ON ly.product_category_name = P.product_category_name

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018'

        GROUP BY 2) general_table
        
    WHERE general_table.rank_avg_price <=15
    
    ORDER BY general_table.rank_avg_price ASC
        
    """

pd.read_sql_query(avg_price_items, conn)

,rank_avg_price,product_category_name,avg_price_2018,avg_price_2017,dif_avg_price,revenue_rank_2018,revenue_rank_2017,qty_rank_2018,qty_rank_2017
0,1,pcs,866.71,1230.56,-363.847480,26,13.0,50,35.0
1,2,portateis_casa_forno_e_cafe,655.07,244.93,410.140000,30,64.0,51,70.0
2,3,eletrodomesticos_2,587.18,253.63,333.552410,21,33.0,42,42.0
3,4,agro_industria_e_comercio,285.43,478.35,-192.917541,31,28.0,43,45.0
4,5,portateis_cozinha_e_preparadores_de_alimentos,280.97,NaN,NaN,56,NaN,67,NaN
5,6,telefonia_fixa,270.05,184.03,86.017067,38,29.0,47,32.0
6,7,instrumentos_musicais,269.28,304.22,-34.938837,19,23.0,26,25.0
7,8,eletroportateis,246.88,312.39,-65.510903,22,18.0,28,23.0
8,9,construcao_ferramentas_seguranca,216.27,196.17,20.097500,35,46.0,45,51.0
9,10,pc_gamer,196.75,129.99,66.760000,67,68.0,70,68.0
10,11,la_cuisine,195.25,127.40,67.851000,68,62.0,70,64.0
11,12,relogios_presentes,189.60,213.57,-23.965653,2,2.0,7,10.0
12,13,moveis_quarto,174.41,200.94,-26.532195,49,44.0,53,50.0
13,14,moveis_cozinha_area_de_servico_jantar_e_jardim,174.26,155.65,18.611681,37,36.0,38,38.0
14,15,audio,169.03,105.77,63.256242,34,38.0,35,31.0

- Only one of the highest average price categories — `relogios_presentes` — appears in the top revenue list, reinforcing the conclusion that the main share of revenue is driven by quantity sold rather than high item prices.

## Categories Ranked by Year-over-Year Revenue Growth

In [9]:
relevant_revenue_items ="""

WITH ly_sales AS (

SELECT 
    P.product_category_name
    ,SUM(OI.price) revenue
    ,ROUND(SUM(OI.price) / 
        (SELECT SUM(t17.price) 
            FROM order_items t17
            LEFT JOIN orders O ON OI.order_id = O.order_id 
            LEFT JOIN customers CS ON CS.customer_id = O.customer_id
            WHERE O.order_status = 'delivered' 
            AND SUBSTR(O.order_purchase_timestamp,1,4)= '2017')*100
                ,2) share_2017

    
    
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id= P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2017'
    
    GROUP BY 1
    
    )
    
    
    SELECT     
        P.product_category_name
        ,SUM(OI.price) revenue_2018
        ,ly.revenue revenue_2017
        ,SUM(OI.price) - ly.revenue dif_revenue
        ,ROUND(SUM(OI.price) / 
            (SELECT SUM(t17.price) 
                FROM order_items t17
                LEFT JOIN orders O ON OI.order_id = O.order_id 
                LEFT JOIN customers CS ON CS.customer_id = O.customer_id
                WHERE O.order_status = 'delivered' 
                AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018')*100
                    ,2) share_2018
          ,ly.share_2017

    
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id= P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    LEFT JOIN ly_sales ly ON ly.product_category_name = P.product_category_name
    
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018'
    
    GROUP BY 1
    
    HAVING SUM(OI.price) - ly.revenue  > 10000 OR SUM(OI.price) - ly.revenue  < -10000
    
    ORDER BY 4 DESC
    
    """

pd.read_sql_query(relevant_revenue_items, conn)

,product_category_name,revenue_2018,revenue_2017,dif_revenue,share_2018,share_2017
0,beleza_saude,755724.50,473833.00,281891.50,5.56,3.49
1,relogios_presentes,687855.20,475610.71,212244.49,5.06,3.50
2,utilidades_domesticas,391823.46,222518.16,169305.30,2.88,1.64
3,automotivo,343288.30,234550.09,108738.21,2.53,1.73
4,informatica_acessorios,496269.30,391786.29,104483.01,3.65,2.88
5,construcao_ferramentas_construcao,122886.61,19221.88,103664.73,0.90,0.14
6,bebes,250615.79,148434.88,102180.91,1.84,1.09
7,esporte_lazer,517166.26,435674.14,81492.12,3.81,3.21
8,eletrodomesticos_2,86902.86,21051.09,65851.77,0.64,0.15
9,moveis_decoracao,381649.57,324587.60,57061.97,2.81,2.39
10,portateis_casa_forno_e_cafe,45854.77,734.79,45119.98,0.34,0.01
11,eletronicos,99735.60,55200.34,44535.26,0.73,0.41
12,pet_shop,126849.64,84156.32,42693.32,0.93,0.62
13,cama_mesa_banho,532358.85,490596.92,41761.93,3.92,3.61
14,papelaria,132315.75,91472.94,40842.81,0.97,0.67
15,telefonia,174123.68,135508.26,38615.42,1.28,1.00
16,casa_construcao,57665.12,23742.45,33922.67,0.42,0.17
17,eletrodomesticos,55760.75,23071.73,32689.02,0.41,0.17
18,construcao_ferramentas_iluminacao,35903.52,4053.48,31850.04,0.26,0.03
19,instrumentos_musicais,105827.28,78488.46,27338.82,0.78,0.58
20,construcao_ferramentas_seguranca,30926.32,7846.90,23079.42,0.23,0.06
21,industria_comercio_e_negocios,29482.54,8656.67,20825.87,0.22,0.06
22,audio,32960.94,17452.67,15508.27,0.24,0.13
23,moveis_escritorio,140578.35,126275.08,14303.27,1.03,0.93
24,sinalizacao_e_seguranca,17066.24,4248.81,12817.43,0.13,0.03
25,bebidas,16883.19,4646.65,12236.54,0.12,0.03
26,agro_industria_e_comercio,41386.90,29179.20,12207.70,0.30,0.21
27,alimentos,20304.87,8346.38,11958.49,0.15,0.06
28,eletroportateis,85912.94,96841.18,-10928.24,0.63,0.71
29,malas_acessorios,63612.93,75088.70,-11475.77,0.47,0.55
30,market_place,7565.57,19314.91,-11749.34,0.06,0.14
31,casa_conforto,20737.65,37270.80,-16533.15,0.15,0.27
32,consoles_games,61497.08,82886.93,-21389.85,0.45,0.61
33,perfumaria,174372.00,210943.55,-36571.55,1.28,1.55
34,ferramentas_jardim,212186.20,256949.20,-44763.00,1.56,1.89
35,pcs,62403.34,156280.80,-93877.46,0.46,1.15
36,brinquedos,168123.27,299056.71,-130933.44,1.24,2.20
37,cool_stuff,227743.70,381414.30,-153670.60,1.68,2.81

- The categories `beleza_saude` and `relogios_presentes` showed the highest revenue growth within the overall sales mix.

## Average sales price of the top revenue categories

In [10]:
sales_price_items ="""

WITH ly_sales AS (

SELECT 
    P.product_category_name
    ,AVG(OI.price) avg_price_itens
    
    
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id= P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2017'
    AND P.product_category_name IN ('beleza_saude','utilidades_domesticas','relogios_presentes','informatica_acessorios','bebes','construcao_ferramentas_construcao','automotivo','cama_mesa_banho','esporte_lazer','pet_shop')
    
    GROUP BY 1
    
    )
    
    
    SELECT     
        P.product_category_name
        ,AVG(OI.price) avg_price_itens_2018
        ,ly.avg_price_itens avg_price_itens_2017
        ,AVG(OI.price) - ly.avg_price_itens dif_price_avg
        ,ROUND(((AVG(OI.price) - ly.avg_price_itens) / ly.avg_price_itens)*100,2)pct_price_var
    
    FROM products P
    LEFT JOIN order_items OI ON OI.product_id= P.product_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    LEFT JOIN ly_sales ly ON ly.product_category_name = P.product_category_name

    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018' 
    AND P.product_category_name IN ('beleza_saude','utilidades_domesticas','relogios_presentes','informatica_acessorios','bebes','construcao_ferramentas_construcao','automotivo','cama_mesa_banho','esporte_lazer','pet_shop')
        
    GROUP BY 1
    ;
    
    """

pd.read_sql_query(sales_price_items, conn)

,product_category_name,avg_price_itens_2018,avg_price_itens_2017,dif_price_avg,pct_price_var
0,automotivo,133.057481,151.127635,-18.070155,-11.96
1,bebes,144.780930,119.705548,25.075382,20.95
2,beleza_saude,129.382726,132.318626,-2.935901,-2.22
3,cama_mesa_banho,91.628029,95.539809,-3.911780,-4.09
4,construcao_ferramentas_construcao,156.145629,149.006822,7.138807,4.79
5,esporte_lazer,116.583918,109.520900,7.063018,6.45
6,informatica_acessorios,107.371116,130.161558,-22.790442,-17.51
7,pet_shop,110.689040,108.729096,1.959945,1.80
8,relogios_presentes,189.596251,213.565653,-23.969402,-11.22
9,utilidades_domesticas,98.720952,79.075394,19.645558,24.84

- 90% of the top-revenue categories have average prices between R$91 and R$156. Only `relogios_presentes` exceeds this range.  
This reinforces that total revenue is primarily driven by high sales volume rather than high average item price.

# Revenue by Sellers

In [11]:
revenue_by_sellers ="""

WITH ly_sales AS (

SELECT 
    S.seller_id
    ,SUM(OI.price) revenue
    ,SUM(OI.price) / (SELECT 
        SUM(PP.price)
        FROM order_items PP LEFT JOIN orders X ON PP.order_id = X.order_id 
        WHERE X.order_status = 'delivered' AND SUBSTR(X.order_purchase_timestamp,1,4)= '2017') share_2017
    
    FROM sellers S
    LEFT JOIN order_items OI ON OI.seller_id= S.seller_id
    LEFT JOIN orders O ON OI.order_id = O.order_id
    
    WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2017'
    
    GROUP BY 1
    
    )
    
SELECT     
            S.seller_id
            ,SUM(OI.price) revenue_2018
            ,ly.revenue revenue_2017
            ,SUM(OI.price) - ly.revenue dif_revenue
            ,ROUND(SUM(OI.price) * 100.0 / (
            SELECT SUM(OI.price)
            FROM order_items OI
            LEFT JOIN orders O ON OI.order_id = O.order_id
            WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
            ), 2)share_2018
    
            ,ROUND((ly.share_2017*100),2) share_2017

        FROM sellers S
        LEFT JOIN order_items OI ON OI.seller_id= S.seller_id
        LEFT JOIN orders O ON OI.order_id = O.order_id
        LEFT JOIN ly_sales ly ON ly.seller_id = S.seller_id

        WHERE O.order_status = 'delivered' AND SUBSTR(O.order_purchase_timestamp,1,4)= '2018'

        GROUP BY 1
        
        HAVING SUM(OI.price) > 10000
    
        ORDER BY 2 DESC
    
    """

pd.read_sql_query(revenue_by_sellers, conn)

,seller_id,revenue_2018,revenue_2017,dif_revenue,share_2018,share_2017
0,4869f7a5dfa277a7dca6462dcf3b52b2,136164.90,90823.03,45341.87,1.89,1.52
1,955fee9216a65b617aa5c0531780ce60,114280.86,17555.85,96725.01,1.58,0.29
2,7d13fca15225358621be4086e1eb0964,112436.18,NaN,NaN,1.56,NaN
3,1025f0e2d44d7041d6cf58b6550e0bfa,104973.71,33234.85,71738.86,1.45,0.56
4,fa1c13f2614d7b5c4749cbc52fecda94,93687.82,97229.32,-3541.50,1.30,1.63
...,...,...,...,...,...,...
144,080199a181c46c657dc5aa235411be3b,10300.44,4203.76,6096.68,0.14,0.07
145,33a6f4b1e7cdc205511e76ba1b6e0186,10295.01,NaN,NaN,0.14,NaN
146,c510bc1718f0f2961eaa42a23330681a,10141.00,NaN,NaN,0.14,NaN
147,54a1852d1b8f10312c55e906355666ee,10102.73,6953.73,3149.00,0.14,0.12
148,de23c3b98a88888289c6f5cc1209054a,10006.23,15927.44,-5921.21,0.14,0.27

The marketplace is not dependent on any single seller.

- Sales revenue is highly distributed across the seller base, with the top seller accounting for only 1.9% of total revenue.

## Share of Revenue from New Sellers (Started in 2018)

In [12]:
revenue_items ="""

SELECT     
    S.seller_id
    ,SUM(OI.price) AS revenue_2018
    ,ROUND(
        (SUM(OI.price) * 100.0) /
        (
            SELECT SUM(PP.price)
            FROM order_items PP
            LEFT JOIN orders O ON PP.order_id = O.order_id 
            WHERE O.order_status = 'delivered' 
              AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
        ), 
    2) AS share_2018
    ,SUM(
    ROUND(
        (SUM(OI.price) * 100.0) /
        (
            SELECT SUM(PP.price)
            FROM order_items PP
            LEFT JOIN orders O ON PP.order_id = O.order_id 
            WHERE O.order_status = 'delivered' 
              AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
        ), 
    2)) OVER (ORDER BY SUM(OI.price) DESC) Cummulative_share

FROM sellers S
LEFT JOIN order_items OI ON OI.seller_id = S.seller_id
LEFT JOIN orders O ON OI.order_id = O.order_id 

WHERE O.order_status = 'delivered' 
  AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2018'
  AND S.seller_id NOT IN (
      SELECT seller_id
      FROM (
          SELECT 
              S.seller_id,
              SUM(OI.price) AS revenue_2017
          FROM sellers S
          LEFT JOIN order_items OI ON OI.seller_id = S.seller_id
          LEFT JOIN orders O ON OI.order_id = O.order_id
          WHERE O.order_status = 'delivered' 
            AND SUBSTR(O.order_purchase_timestamp, 1, 4) = '2017'
          GROUP BY S.seller_id
          HAVING SUM(OI.price) > 0.01
      )
  )

GROUP BY S.seller_id
HAVING SUM(OI.price) > 10000
ORDER BY revenue_2018 DESC;

    
    """

pd.read_sql_query(revenue_items, conn)

,seller_id,revenue_2018,share_2018,Cummulative_share
0,7d13fca15225358621be4086e1eb0964,112436.18,1.56,1.56
1,de722cd6dad950a92b7d4f82673f8833,55126.30,0.76,2.32
2,ceaec5548eefc6e23e6607c5435102e7,51478.18,0.71,3.03
3,e882b2a25a10b9c057cc49695f222c19,51057.54,0.71,3.74
4,966cb4760537b1404caedd472cc610a5,45928.26,0.64,4.38
5,ba90964cff9b9e0e6f32b23b82465f7b,44212.50,0.61,4.99
6,b839e41795b7f3ad94cc2014a52f6796,42829.00,0.59,5.58
7,2eb70248d66e0e3ef83659f71b244378,38990.72,0.54,6.12
8,c70c1b0d8ca86052f45a432a38b73958,36289.15,0.50,6.62
9,06a2c3af7b3aee5d69171b0e14f0ee87,36097.98,0.50,7.12
10,7681ef142fd2c19048da7430856b5588,31211.81,0.43,7.55
11,f62d7bb4a613ec758a03342d46b580b2,24665.00,0.34,7.89
12,40db9e9aa57f7bb151bcda6b0f9bdbb7,23168.00,0.32,8.21
13,612170e34b97004b3ba37eae81836b4c,23065.02,0.32,8.53
14,7ad32824caee82087b3e2e5f33b1bf32,22018.10,0.31,8.84
15,821fb029fc6e495ca4f08a35d51e53a5,17851.62,0.25,9.09
16,c72de06d72748d1a0dfb2125be43ba63,17522.00,0.24,9.33
17,c3acdfac4e3e97ff87529454fbc03642,16788.00,0.23,9.56
18,d921b68bf747894be13a97ae52b0f386,15645.80,0.22,9.78
19,6061155addc1e54b4cfb51c1c2a32ad8,15633.40,0.22,10.00
20,c33847515fa6305ce6feb1e818569f13,15519.85,0.22,10.22
21,610f72e407cdd7caaa2f8167b0163fd8,13585.16,0.19,10.41
22,289cdb325fb7e7f891c38608bf9e0962,13410.55,0.19,10.60
23,240b9776d844d37535668549a396af32,13332.09,0.18,10.78
24,039e6ad9dae79614493083e241147386,12925.00,0.18,10.96
25,00fc707aaaad2d31347cf883cd2dfe10,12684.90,0.18,11.14
26,d6b1ce66b035a475f00c017792ff9769,12277.40,0.17,11.31
27,6e386f64c84e482f0b9abf960797ee1b,12209.30,0.17,11.48
28,c66dccfb3f109511246da627dd5a2498,12182.55,0.17,11.65
29,70c27847eca8195c983ed7e798c56743,12077.52,0.17,11.82
30,72c5da29406b4234927b81855e7b64f6,11798.69,0.16,11.98
31,c4d51195486dc781531876a7d00453d8,11468.98,0.16,12.14
32,b4f8921fcc4ff77b66bea6dda43dcd51,11395.05,0.16,12.30
33,c60b801f2d52c7f7f91de00870882a75,11296.50,0.16,12.46
34,6973a06f484aacf400ece213dbf3d946,10418.72,0.14,12.60
35,33a6f4b1e7cdc205511e76ba1b6e0186,10295.01,0.14,12.74
36,c510bc1718f0f2961eaa42a23330681a,10141.00,0.14,12.88

- New sellers contributed nearly 13% of total revenue in 2018 — a significant share, even though the majority of sales were still driven by existing sellers.

## Seller Count by Cancellation Rate

In [13]:
CANCELLED_SALES_SELLER = """

WITH cancelled_sales AS (

    SELECT
        S.seller_id
        ,SUM(OI.price) cancelled_value

        FROM orders O
        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN sellers S ON S.seller_id = OI.seller_id

        WHERE O.order_status = 'canceled'

        GROUP BY 1

        ORDER BY SUM(OI.price) DESC)

    SELECT
    cancelations_rate,
    COUNT(*) qtd_of_sellers,
    SUM(value) revenue,
    SUM(cancelled_value) lost_revenue
    
    
    FROM (SELECT
        S.seller_id
        ,RANK() OVER(ORDER BY (CS.cancelled_value / SUM(OI.price))  DESC) share_cancelations_rate
        ,ROUND((CS.cancelled_value / SUM(OI.price))*100,0) cancelations_rate
        ,SUM(OI.price) value
        ,CS.cancelled_value
        

        FROM orders O
        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN sellers S ON S.seller_id = OI.seller_id
        LEFT JOIN cancelled_sales CS on CS.seller_id = S.seller_id

        GROUP BY 1) CANCELATION_RATE
        
        GROUP BY 1
        ORDER BY 1 DESC
        ;
    

    """

pd.read_sql_query(CANCELLED_SALES_SELLER,conn)

    cancelations_rate  qtd_of_sellers     revenue  lost_revenue
0               100.0              39     6996.09       6996.09
1                89.0               1      727.90        650.00
2                88.0               1     1020.00        900.00
3                80.0               1      694.77        557.00
4                77.0               1    11961.83       9199.80
5                74.0               1      696.00        518.00
6                72.0               1     1304.67        933.89
7                71.0               1      244.90        175.00
8                66.0               1      105.15         69.80
9                65.0               1     1680.10       1095.80
10               64.0               3      502.28        319.89
11               60.0               1     2625.80       1578.50
12               57.0               1     1782.54       1020.70
13               56.0               2      327.60        184.80
14               50.0               8     9165.94       4582.97
15               49.0               1       97.24         47.74
16               48.0               1      259.70        124.90
17               46.0               1       27.98         12.99
18               45.0               1       54.98         24.99
19               44.0               1       43.20         19.20
20               42.0               1     1426.30        594.65
21               40.0               1      429.70        169.90
22               39.0               1      488.80        189.90
23               38.0               1      125.20         47.80
24               36.0               2      762.17        272.39
25               34.0               1      939.93        314.99
26               33.0               5     5237.05       1746.95
27               32.0               3     1474.99        472.00
28               31.0               3     2695.51        830.99
29               30.0               1     1696.70        504.72
30               28.0               2     1026.22        284.87
31               27.0               4    12033.80       3209.70
32               26.0               2     7590.06       1969.99
33               25.0               2     2111.92        527.98
34               23.0               1     6180.80       1399.99
35               22.0               1      971.25        213.75
36               21.0               1      302.84         64.99
37               20.0               4     1423.46        288.69
38               19.0               1     9606.80       1795.00
39               18.0               3     2381.91        428.16
40               17.0               2     2541.90        432.10
41               15.0               2     1775.50        261.90
42               14.0               1      450.58         61.98
43               13.0               4     3917.50        496.79
44               12.0               4    17007.25       2023.91
45               11.0               8    22127.54       2425.67
46               10.0               5    29864.83       2971.88
47                9.0              10    45375.16       4147.09
48                8.0               5    10430.08        843.88
49                7.0               4    11526.20        805.26
50                6.0               5    22778.09       1336.58
51                5.0              14    69458.71       3559.80
52                4.0               7    47925.80       1875.16
53                3.0              19   180768.43       5114.30
54                2.0              38   492774.19       9670.88
55                1.0              55  1277290.05      11015.84
56                0.0              38  2047822.92       3852.78
57                NaN            2767  9208584.89           NaN

Cancellations do not represent a major issue in terms of overall revenue or seller performance.

- 39 sellers had a 100% cancellation rate, meaning that the only order they fulfilled was ultimately canceled.  
- This represents a very small portion of the marketplace, especially when compared to the total seller base of nearly 3,000.  
- The total revenue associated with canceled orders is also minimal when compared to overall marketplace revenue.

# Customer Reviews Analysis

Next, we’ll analyze how customers are rating their experiences with both deliveries and products.

In [14]:
customer_review = """

    SELECT
        strftime('%Y-%m', review_creation_date) AS month_year
       ,AVG(review_score) average_review
       ,COUNT(*) qty_reviews
        

        FROM order_reviews  
        group by 1
        
"""
pd.read_sql_query(customer_review, conn)

   month_year  average_review  qty_reviews
0     2016-10        4.055866          179
1     2016-11        3.188119          101
2     2016-12        2.355556           45
3     2017-01        4.338912          239
4     2017-02        4.280962         1413
5     2017-03        4.033051         2481
6     2017-04        4.036983         2055
7     2017-05        4.100539         3710
8     2017-06        4.127616         3440
9     2017-07        4.183271         3503
10    2017-08        4.224961         4503
11    2017-09        4.182424         4199
12    2017-10        4.182188         4424
13    2017-11        4.114919         4786
14    2017-12        3.931596         7982
15    2018-01        4.063603         6179
16    2018-02        4.014260         6101
17    2018-03        3.727413         7803
18    2018-04        3.919857         7287
19    2018-05        4.193081         7458
20    2018-06        4.197171         6715
21    2018-07        4.288250         5634
22    2018-08        4.209747         8987

There were spikes in review volume and noticeable drops in average review scores during December 2017, March 2018, and April 2018.

# Customer reviews by state

In [15]:
customer_review = """

    SELECT
        C.customer_state
       ,AVG(R.review_score) average_review
       ,COUNT(R.review_id) qty_reviews
        

        FROM order_reviews R 
        LEFT JOIN orders O ON O.order_id = R.order_id
        LEFT JOIN customers C ON C.customer_id = O.customer_id
        GROUP BY 1
        ORDER BY 2 DESC
        
"""
pd.read_sql_query(customer_review, conn)

   customer_state  average_review  qty_reviews
0              AP        4.194030           67
1              AM        4.183673          147
2              PR        4.180032         5038
3              SP        4.173951        41690
4              MG        4.136172        11625
5              RS        4.133321         5483
6              MS        4.118785          724
7              RN        4.105809          482
8              MT        4.102990          903
9              TO        4.096774          279
10             SC        4.071764         3623
11             DF        4.064711         2148
12             RO        4.051587          252
13             AC        4.049383           81
14             GO        4.042490         2024
15             ES        4.041667         2016
16             PB        4.018832          531
17             PE        4.011543         1646
18             PI        3.920570          491
19             RJ        3.874971        12765
20             BA        3.860888         3357
21             CE        3.851016         1329
22             PA        3.849174          968
23             SE        3.808023          349
24             MA        3.764075          746
25             AL        3.751208          414
26             RR        3.608696           46

- Nine states have an average customer review score below 4.0.  
- One of them — Rio de Janeiro (RJ) — is among the top five states in total revenue.

## Reviews by Sellers

In [16]:
x ="""
SELECT *
,RANK() OVER( ORDER BY avg_review DESC) reviews_rank

FROM (select

S.seller_id
,ROUND(AVG(R.review_score),2) avg_review
,COUNT(R.review_score) qty_review
,RANK() OVER(ORDER BY COUNT(R.review_score) DESC) rank_qty_review



FROM orders O
LEFT JOIN order_reviews R ON R.order_id = O.order_id
LEFT JOIN order_items OI ON OI.order_id = O.order_id
LEFT JOIN sellers S ON S.seller_id = OI.seller_id

GROUP BY 1

ORDER BY 3 DESC)

WHERE rank_qty_review <=50

"""        
pd.read_sql_query(x, conn)

,seller_id,avg_review,qty_review,rank_qty_review,reviews_rank
0,7299e27ed73d2ad986de7f7c77d919fa,4.42,361,47,1
1,fa1c13f2614d7b5c4749cbc52fecda94,4.34,582,22,2
2,9f505651f4a6abe901a56cdc21508025,4.28,427,37,3
3,7a67c85e85bb2ce8582c35f2203ad736,4.23,1166,10,4
4,8581055ce74af1daba164fdbd55a40de,4.23,442,32,4
5,dbc22125167c298ef99da25668e1011f,4.23,429,34,4
6,620c87c171fb2a6dd6e8bb4dec959fc6,4.22,790,15,7
7,f8db351d8c4c4c22c6835c19a46f01b0,4.22,722,19,7
8,a1043bafd471dff536d0c462352beb48,4.19,767,16,9
9,128639473a139ac0f3e5f5ade55873a5,4.18,554,25,10
10,46dc3b2cc0980fb8ec44634e21d2718e,4.18,535,27,10
11,4d6d651bd7684af3fffabd5f08d12e5a,4.18,396,42,10
12,e9779976487b77c6d4ac45f75ec7afe9,4.17,747,18,13
13,85d9eb9ddc5d00ca9336a2219c97bb13,4.17,522,30,13
14,de722cd6dad950a92b7d4f82673f8833,4.16,377,44,15
15,218d46b86c1881d022bce9c68a7d4b15,4.14,427,37,16
16,4869f7a5dfa277a7dca6462dcf3b52b2,4.12,1148,11,17
17,3d871de0142ce09b7081e2b9d1733cb1,4.11,1136,12,18
18,b2ba3715d723d245138f291a6fe42594,4.11,360,48,18
19,d91fb3b7d041e83b64a00a3edfb37e4f,4.10,561,24,20
20,53243585a1d6dc2643021fd1853d8905,4.08,408,39,21
21,cc419e0650a3c5ba77189a1882b7556a,4.07,1811,4,22
22,da8622b14eb17ae2831f4ac5b9dab84a,4.07,1568,5,22
23,955fee9216a65b617aa5c0531780ce60,4.05,1489,6,24
24,53e4c6e0f4312d4d2107a8c9cddf45cd,4.05,523,29,24
25,77530e9772f57a62c906e1c21538ab82,4.05,390,43,24
26,16090f2ca825584b5a147ab24aa30c86,4.04,407,40,27
27,c826c40d7b19f62a09e2d7c5e7295ee2,4.04,371,45,27
28,8b321bb669392f5163d04c59e235e066,4.00,1014,13,29
29,7d13fca15225358621be4086e1eb0964,4.00,574,23,29
30,06a2c3af7b3aee5d69171b0e14f0ee87,4.00,399,41,29
31,5dceca129747e92ff8ef7a997dc4f8ca,3.99,342,50,32
32,1f50f920176fa81dab994f9023523100,3.98,1932,3,33
33,ea8482cd71df3c1969d7b9473ff13abc,3.95,1197,9,34
34,391fc6631aebcf3004804e51b40bcf1e,3.95,622,21,34
35,92eb0f42c21942b6552362b9b114707d,3.93,362,46,36
36,6560211a19b47992c3666cc44a7e94c0,3.91,2020,1,37
37,4e922959ae960d389249c378d1c939f5,3.90,449,31,38
38,2138ccb85b11a4ec1e37afbd1c8eda1f,3.90,429,34,38
39,1025f0e2d44d7041d6cf58b6550e0bfa,3.85,1431,7,40
40,cca3071e3e9bb7d12640c9fbe2301306,3.85,831,14,40
41,1900267e848ceeba8fa32d80c1a5f5a8,3.85,524,28,40
42,8160255418d5aaa7dbdc9f4c64ebda44,3.84,429,34,43
43,4a3ca9315b744ce9f8e9374361493884,3.80,1984,2,44
44,4c2b230173bb36f9b240f2b8ac11786e,3.76,343,49,45
45,d2374cbcbb3ca4ab1086534108cc3ab7,3.64,649,20,46
46,1835b56ce799e6a4dc4eddc053f04066,3.59,554,25,47
47,897060da8b9a21f655304d50fd935913,3.40,430,33,48
48,7c67e1448b00f6e969d365cea6b010ab,3.35,1367,8,49
49,None,1.73,759,17,50

We will analyze the customer review and sales history of the lowest-rated seller to understand the impact of negative reviews on sales performance.

In [17]:

sales_through_time = """

WITH reviews AS(

        SELECT
        strftime('%Y-%m', review_creation_date) AS month_year
       ,AVG(review_score) average_review  

        
        FROM orders O
        LEFT JOIN order_reviews R ON R.order_id = O.order_id
        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN sellers S ON S.seller_id = OI.seller_id  
        
        WHERE S.seller_id  = '7c67e1448b00f6e969d365cea6b010ab' AND strftime('%Y-%m', review_creation_date) IS NOT null
        GROUP BY 1)



    SELECT
    *
    ,ROUND(sales - LAG(sales) OVER (ORDER BY month_year ASC),1) difference_MoM
    ,ROUND(((sales - LAG(sales) OVER (ORDER BY month_year ASC)) / LAG(sales) OVER (ORDER BY month_year ASC))*100,1) pct_difference_MoM    
    ,ROUND(sales - LAG(sales,12,null) OVER (ORDER BY month_year ASC),1) difference_YoY
    ,ROUND(((sales - LAG(sales,12,null) OVER (ORDER BY month_year ASC)) / LAG(sales,12,null) OVER (ORDER BY month_year ASC))*100,1) pct_difference_YoY

    FROM (SELECT
            strftime('%Y-%m', order_purchase_timestamp) AS month_year
            ,ROUND(SUM(OI.price),1) sales
            ,rev.average_review
            ,COUNT(DISTINCT O.order_id) orders_qty
            ,COUNT(OI.order_item_id) items_sold
            ,ROUND(AVG(OI.price),2) average_price

            FROM orders O

            LEFT JOIN order_items OI ON OI.order_id = O.order_id
            LEFT JOIN sellers S ON S.seller_id = OI.seller_id
            LEFT JOIN reviews rev ON strftime('%Y-%m', order_purchase_timestamp) = rev.month_year


            WHERE O.order_status = 'delivered' AND SUBSTR(order_purchase_timestamp,1,4)<> "2016" AND S.seller_id = '7c67e1448b00f6e969d365cea6b010ab'


            GROUP BY 1

            ORDER BY 1 ASC)
"""

pd.read_sql_query(sales_through_time, conn)

,month_year,sales,average_review,orders_qty,items_sold,average_price,difference_MoM,pct_difference_MoM,difference_YoY,pct_difference_YoY
0,2017-01,1365.3,NaN,8,10,136.53,NaN,NaN,NaN,NaN
1,2017-02,4900.0,3.900000,32,37,132.43,3534.7,258.9,NaN,NaN
2,2017-03,6896.9,2.925000,41,55,125.40,1996.9,40.8,NaN,NaN
3,2017-04,4023.4,3.538462,23,26,154.75,-2873.5,-41.7,NaN,NaN
4,2017-05,7087.7,3.833333,36,49,144.65,3064.3,76.2,NaN,NaN
5,2017-06,6703.6,4.225806,40,43,155.90,-384.1,-5.4,NaN,NaN
6,2017-07,15661.2,3.686567,91,108,145.01,8957.6,133.6,NaN,NaN
7,2017-08,8614.8,3.824074,44,57,151.14,-7046.4,-45.0,NaN,NaN
8,2017-09,6433.3,4.057143,30,52,123.72,-2181.5,-25.3,NaN,NaN
9,2017-10,14875.5,3.315068,58,89,167.14,8442.2,131.2,NaN,NaN
10,2017-11,14010.1,3.135417,66,91,153.96,-865.4,-5.8,NaN,NaN
11,2017-12,4235.1,2.736111,26,36,117.64,-9775.0,-69.8,NaN,NaN
12,2018-01,15593.4,3.085714,89,132,118.13,11358.3,268.2,14228.1,1042.1
13,2018-02,11538.8,3.180851,49,87,132.63,-4054.6,-26.0,6638.8,135.5
14,2018-03,25340.0,2.740331,138,192,131.98,13801.2,119.6,18443.1,267.4
15,2018-04,13852.7,3.304054,68,107,129.46,-11487.3,-45.3,9829.3,244.3
16,2018-05,11186.1,3.528302,57,79,141.60,-2666.6,-19.2,4098.4,57.8
17,2018-06,5440.4,3.432836,31,41,132.69,-5745.7,-51.4,-1263.2,-18.8
18,2018-07,7511.8,3.783784,37,52,144.46,2071.4,38.1,-8149.4,-52.0
19,2018-08,1299.8,3.533333,9,12,108.31,-6212.0,-82.7,-7315.0,-84.9

Although this seller ranks as the eighth most reviewed on the platform, it surpassed R$15,000 in monthly revenue in only three months — a relatively low performance compared to other sellers.

In [18]:
customer_review = """

    SELECT
        review_score
        ,review_comment_message
        

        
        FROM orders O
        LEFT JOIN order_reviews R ON R.order_id = O.order_id
        LEFT JOIN order_items OI ON OI.order_id = O.order_id
        LEFT JOIN sellers S ON S.seller_id = OI.seller_id  
        
        WHERE S.seller_id  = '7c67e1448b00f6e969d365cea6b010ab' AND strftime('%Y-%m', review_creation_date) = '2018-03' AND review_score <=3 AND review_comment_message IS NOT NULL
        group by 1,2
        ORDER BY 1

"""
pd.read_sql_query(customer_review, conn)

    review_score                             review_comment_message
0              1  - a compra foi efetuada em 30/01\r\n- a emissã...
1              1  A mesa tem defeitos em sua tabua, e as pernas ...
2              1                 Ainda nao recebi minha mercadoria.
3              1  Ainda não recebi o produto, já passou do prazo...
4              1  COMPREI 6 CADEIRAS E SÓ RECEBI 1 E AINDA VEIO ...
5              1        Comprei seis(6) cadeiras e recebi 4(quatro)
6              1                            Cumpriu com excelência
7              1  Estou insatisfeito, pois ainda não recebi meu ...
8              1               Eu pedi 6 unidades me entregaram 1.
9              1                               Nao recebi o produto
10             1        Nao tem boa avaliação por atraso na entrega
11             1                     Não me entregaram os produtos
12             1                                         Não recebi
13             1  O mocho não tem nem 6 meses de uso e a parte d...
14             1  O produto não apresenta boa qualidade e veio f...
15             1  O produto veio incompleto, sem condições de mo...
16             1      Pedi com os braços rosa porém veio no branco
17             1   Pedi duas cadeiras e foi entregue apenas uma!!!!
18             1  Produto chegou com o assento rasgado, tentei e...
19             1  Produto chegou em péssimo estado, sujo, lascad...
20             1  Recebi uma das duas cadeiras compradas. Estou ...
21             1  Sistema péssimo para fazer perguntas... Nada d...
22             1  Só recebemos quatro cadeiras, FALTA UMA CADEIR...
23             1  TEM 40 DIAS QUE COMPREI 2 CADEIRAS 1 ROSA E 1 ...
24             1  comprei 5 cadeiras e ate o presente só recebi ...
25             1  comprei duas cadeiras porem foi entregue apena...
26             2  Entregaram dentro do prazo porém a previsão fo...
27             2                      Não recebi ainda meu produto.
28             2  Peças metálicas e alguns parafuso com ferrugem...
29             2  Produto consta como entregue aos correios do R...
30             2  comprei nove cadeiras e chegou só 7 cade o res...
31             3   Eu não gostei pós ela é bem menor do que na f...
32             3  A cadeira é bem simples, é nova então não deu ...
33             3  ESSA LOJA É MUITO BACANA COMPRO MUITOS PRODUTO...
34             3  Eu fiz o pedido de dois produtos, porém só rec...
35             3                         Falta uma parte da compra.
36             3      Faltou uma peça pra colocar no pé da cadeira.
37             3  Tive problema com algumas peças e estou aguard...

Most of the customer comments during March 2018 mention issues such as delivery delays, poor product quality, and incorrect item quantities.

Now, let’s examine seller review scores during the lowest-performing periods: March 2018, April 2018, and December 2017.

## Seller Review Scores During Low-Performing Periods (2017-12, 2018-03, 2018-04)

In [19]:
x ="""

WITH order_reviews_treated AS
    (SELECT * FROM
        (SELECT *,strftime('%Y-%m', review_creation_date) month_year FROM order_reviews) order_review_with_month
        
    WHERE month_year IN ('2018-03','2018-04',"2017-12"))


SELECT *
,RANK() OVER( ORDER BY avg_review DESC) reviews_rank

FROM (select

S.seller_id
,ROUND(AVG(R.review_score),2) avg_review
,COUNT(R.review_score) qty_review
,RANK() OVER(ORDER BY COUNT(R.review_score) DESC) rank_qty_review


FROM orders O
LEFT JOIN order_reviews_treated R ON R.order_id = O.order_id
LEFT JOIN order_items OI ON OI.order_id = O.order_id
LEFT JOIN sellers S ON S.seller_id = OI.seller_id

GROUP BY 1

ORDER BY 3 DESC)

WHERE rank_qty_review <=50



"""        
pd.read_sql_query(x, conn)

,seller_id,avg_review,qty_review,rank_qty_review,reviews_rank
0,9f505651f4a6abe901a56cdc21508025,4.25,96,46,1
1,53e4c6e0f4312d4d2107a8c9cddf45cd,4.20,122,31,2
2,de722cd6dad950a92b7d4f82673f8833,4.15,121,32,3
3,7a67c85e85bb2ce8582c35f2203ad736,4.10,200,14,4
4,a1043bafd471dff536d0c462352beb48,4.09,218,13,5
5,4d6d651bd7684af3fffabd5f08d12e5a,4.07,112,38,6
6,128639473a139ac0f3e5f5ade55873a5,4.06,174,18,7
7,d91fb3b7d041e83b64a00a3edfb37e4f,4.02,131,28,8
8,8581055ce74af1daba164fdbd55a40de,4.00,117,33,9
9,f8db351d8c4c4c22c6835c19a46f01b0,4.00,92,47,9
10,fa1c13f2614d7b5c4749cbc52fecda94,3.99,150,23,11
11,c826c40d7b19f62a09e2d7c5e7295ee2,3.98,194,17,12
12,77530e9772f57a62c906e1c21538ab82,3.96,129,29,13
13,4830e40640734fc1c52cd21127c341d4,3.96,92,47,13
14,3d871de0142ce09b7081e2b9d1733cb1,3.95,252,12,15
15,e9779976487b77c6d4ac45f75ec7afe9,3.95,148,25,15
16,7142540dd4c91e2237acb7e911c4eba2,3.94,117,33,17
17,f262cbc1c910c83959f849465454ddd3,3.91,91,50,18
18,955fee9216a65b617aa5c0531780ce60,3.90,424,6,19
19,cc419e0650a3c5ba77189a1882b7556a,3.89,496,2,20
20,1c68394e931a64f90ea236c5ea590300,3.88,109,39,21
21,8b321bb669392f5163d04c59e235e066,3.87,448,4,22
22,46dc3b2cc0980fb8ec44634e21d2718e,3.85,163,21,23
23,16090f2ca825584b5a147ab24aa30c86,3.85,101,42,23
24,da8622b14eb17ae2831f4ac5b9dab84a,3.83,422,7,25
25,620c87c171fb2a6dd6e8bb4dec959fc6,3.81,197,15,26
26,4e922959ae960d389249c378d1c939f5,3.80,109,39,27
27,391fc6631aebcf3004804e51b40bcf1e,3.79,141,26,28
28,f457c46070d02cadd8a68551231220dd,3.78,115,36,29
29,6560211a19b47992c3666cc44a7e94c0,3.77,316,11,30
30,4869f7a5dfa277a7dca6462dcf3b52b2,3.72,326,10,31
31,ea8482cd71df3c1969d7b9473ff13abc,3.70,485,3,32
32,1900267e848ceeba8fa32d80c1a5f5a8,3.69,127,30,33
33,00fc707aaaad2d31347cf883cd2dfe10,3.67,92,47,34
34,218d46b86c1881d022bce9c68a7d4b15,3.66,116,35,35
35,634964b17796e64304cadf1ad3050fb7,3.66,97,44,35
36,1f50f920176fa81dab994f9023523100,3.65,642,1,37
37,7ddcbb64b5bc1ef36ca8c151f6ec77df,3.62,97,44,38
38,7d13fca15225358621be4086e1eb0964,3.57,150,23,39
39,e5a3438891c0bfdb9394643f95273d8e,3.39,114,37,40
40,8160255418d5aaa7dbdc9f4c64ebda44,3.35,195,16,41
41,d2374cbcbb3ca4ab1086534108cc3ab7,3.34,101,42,42
42,4a3ca9315b744ce9f8e9374361493884,3.32,425,5,43
43,1025f0e2d44d7041d6cf58b6550e0bfa,3.32,399,9,43
44,4c2b230173bb36f9b240f2b8ac11786e,3.27,108,41,45
45,897060da8b9a21f655304d50fd935913,3.06,166,20,46
46,1835b56ce799e6a4dc4eddc053f04066,3.02,170,19,47
47,7c67e1448b00f6e969d365cea6b010ab,2.95,401,8,48
48,88460e8ebdecbfecb5f9601833981930,2.84,159,22,49
49,None,1.54,136,27,50

There are 10 sellers with an average review score below 3.5 during this period.  
Next, we’ll evaluate the impact on the overall customer review average after excluding these sellers from the dataset.

In [20]:

sales_through_time = """
WITH reviews_without_bad_sellers AS
        (
            SELECT
            strftime('%Y-%m', review_creation_date) AS month_year
           ,ROUND(AVG(review_score),2) average_review_without_bad_sellers  


            FROM orders O
            LEFT JOIN order_reviews R ON R.order_id = O.order_id
            LEFT JOIN order_items OI ON OI.order_id = O.order_id
            LEFT JOIN sellers S ON S.seller_id = OI.seller_id  

            WHERE strftime('%Y-%m', review_creation_date) IS NOT null 
                AND S.seller_id NOT IN ('7c67e1448b00f6e969d365cea6b010ab','88460e8ebdecbfecb5f9601833981930','1835b56ce799e6a4dc4eddc053f04066','897060da8b9a21f655304d50fd935913','4c2b230173bb36f9b240f2b8ac11786e','1025f0e2d44d7041d6cf58b6550e0bfa','4a3ca9315b744ce9f8e9374361493884','d2374cbcbb3ca4ab1086534108cc3ab7','8160255418d5aaa7dbdc9f4c64ebda44','e5a3438891c0bfdb9394643f95273d8e')
            GROUP BY 1
        )
        
  SELECT
    strftime('%Y-%m', review_creation_date) AS month_year
   ,RB.average_review_without_bad_sellers
   ,ROUND(AVG(review_score),2) average_review
   ,RB.average_review_without_bad_sellers - ROUND(AVG(review_score),2) diference_score


    FROM orders O
    LEFT JOIN order_reviews R ON R.order_id = O.order_id
    LEFT JOIN order_items OI ON OI.order_id = O.order_id
    LEFT JOIN sellers S ON S.seller_id = OI.seller_id  
    LEFT JOIN reviews_without_bad_sellers RB ON RB.month_year = strftime('%Y-%m', review_creation_date)

    WHERE strftime('%Y-%m', review_creation_date) IS NOT null AND strftime('%Y', review_creation_date) IS NOT '2016'
    GROUP BY 1;

"""

pd.read_sql_query(sales_through_time, conn)

,month_year,average_review_without_bad_sellers,average_review,diference_score
0,2017-01,4.20,4.19,0.01
1,2017-02,4.28,4.27,0.01
2,2017-03,4.09,4.01,0.08
3,2017-04,4.01,3.97,0.04
4,2017-05,4.10,4.07,0.03
5,2017-06,4.13,4.09,0.04
6,2017-07,4.17,4.12,0.05
7,2017-08,4.22,4.19,0.03
8,2017-09,4.15,4.14,0.01
9,2017-10,4.15,4.07,0.08
10,2017-11,4.09,4.03,0.06
11,2017-12,3.93,3.84,0.09
12,2018-01,4.00,3.98,0.02
13,2018-02,3.97,3.93,0.04
14,2018-03,3.71,3.63,0.08
15,2018-04,3.88,3.85,0.03
16,2018-05,4.16,4.13,0.03
17,2018-06,4.13,4.11,0.02
18,2018-07,4.25,4.24,0.01
19,2018-08,4.18,4.16,0.02

Excluding the lowest-rated sellers does not significantly impact the overall average review score, suggesting that other factors may be contributing to the negative customer feedback.

Based on the patterns identified in the worst-performing seller, we’ll now analyze delivery times to better understand their influence on review scores.

## Delivery Time by Year and Month

In [21]:
order =""" SELECT
    
    purchase_date
    ,ROUND(AVG(delivery_days),0) avg_delivery_days
    ,ROUND(AVG(estimated_delivery_days),0) avg_estimated_delivery_days
    ,ROUND((SUM(late_delivery) * 1.0 / COUNT(order_id))*100, 2) AS pct_late_deliveries
    ,ROUND(AVG(approvation_days),0) avg_approvation_days
    ,ROUND(AVG(aprovation_to_carrier_days),0) avg_aprovation_to_carrier_days
    ,ROUND(AVG(carrier_to_delivery_days),0) avg_carrier_to_delivery_days
            
        FROM 
            (SELECT 

            order_id
            ,strftime('%Y-%m', order_purchase_timestamp) purchase_date 
            ,julianday(order_delivered_customer_date) - julianday(order_purchase_timestamp) AS delivery_days
            ,julianday(order_estimated_delivery_date) - julianday(order_purchase_timestamp) AS estimated_delivery_days
            ,CASE
                WHEN julianday(order_delivered_customer_date) > julianday(order_estimated_delivery_date) THEN 1
                ELSE 0
            END AS late_delivery
            ,julianday(order_approved_at) - julianday(order_purchase_timestamp) AS approvation_days
            ,julianday(order_delivered_carrier_date) - julianday(order_approved_at) AS aprovation_to_carrier_days
            ,julianday(order_delivered_customer_date) - julianday(order_delivered_carrier_date) AS carrier_to_delivery_days

            FROM orders

            WHERE order_status = 'delivered'
                AND strftime('%Y', order_purchase_timestamp) <> "2016") transformed_data_columns

        GROUP BY 1
        
        ;"""

pd.read_sql_query(order, conn)

,purchase_date,avg_delivery_days,avg_estimated_delivery_days,pct_late_deliveries,avg_approvation_days,avg_aprovation_to_carrier_days,avg_carrier_to_delivery_days
0,2017-01,13.0,40.0,3.07,0.0,3.0,9.0
1,2017-02,13.0,32.0,3.21,0.0,3.0,10.0
2,2017-03,13.0,25.0,5.58,0.0,3.0,10.0
3,2017-04,15.0,27.0,7.86,1.0,3.0,11.0
4,2017-05,11.0,24.0,3.61,0.0,3.0,8.0
5,2017-06,12.0,24.0,3.86,0.0,3.0,9.0
6,2017-07,12.0,23.0,3.43,0.0,3.0,8.0
7,2017-08,11.0,23.0,3.32,0.0,3.0,8.0
8,2017-09,12.0,22.0,5.20,0.0,3.0,9.0
9,2017-10,12.0,23.0,5.29,0.0,3.0,8.0
10,2017-11,15.0,23.0,14.31,0.0,4.0,11.0
11,2017-12,15.0,28.0,8.38,0.0,3.0,12.0
12,2018-01,14.0,26.0,6.56,0.0,3.0,10.0
13,2018-02,17.0,25.0,15.99,0.0,3.0,13.0
14,2018-03,16.0,22.0,21.36,0.0,3.0,13.0
15,2018-04,11.0,24.0,5.31,1.0,2.0,9.0
16,2018-05,11.0,23.0,8.24,0.0,2.0,9.0
17,2018-06,9.0,28.0,1.36,0.0,2.0,7.0
18,2018-07,9.0,20.0,4.48,1.0,2.0,6.0
19,2018-08,8.0,15.0,10.39,0.0,2.0,5.0

In November 2017, and in February and March 2018, there was a significant increase in the percentage of delayed deliveries.  
While the average delay rate typically ranged between 3% and 6%, these months saw peaks of 14%, 15%, and 21%, respectively.

This suggests that months with a high percentage of delayed deliveries tend to impact customer review scores in the following month.  
This one-month gap is explained by the average delivery time of 17 days — reviews are recorded upon delivery, not at the time of purchase.  
As a result, negative customer feedback tends to appear in the month after a delay-heavy sales period.

By breaking down the delivery process into stages, we can see that during months with high delay rates, the longest increase occurs between the moment the logistics partner receives the order and the final delivery to the customer.

This indicates a need for direct communication with the logistics providers responsible for these delays, in order to develop targeted corrective actions.

## Delivery Time by Seller

In [22]:
order =""" SELECT
    
    purchase_date
    ,ROUND(AVG(delivery_days),0) avg_delivery_days
    ,ROUND(AVG(estimated_delivery_days),0) avg_estimated_delivery_days
    ,ROUND((SUM(late_delivery) * 1.0 / COUNT(order_id))*100, 2) AS pct_late_deliveries
    ,ROUND(AVG(approvation_days),0) avg_approvation_days
    ,ROUND(AVG(aprovation_to_carrier_days),0) avg_aprovation_to_carrier_days
    ,ROUND(AVG(carrier_to_delivery_days),0) avg_carrier_to_delivery_days
            
        FROM 
            (SELECT 

            O.order_id
            ,strftime('%Y-%m', order_purchase_timestamp) purchase_date 
            ,julianday(order_delivered_customer_date) - julianday(order_purchase_timestamp) AS delivery_days
            ,julianday(order_estimated_delivery_date) - julianday(order_purchase_timestamp) AS estimated_delivery_days
            ,CASE
                WHEN julianday(order_delivered_customer_date) > julianday(order_estimated_delivery_date) THEN 1
                ELSE 0
            END AS late_delivery
            ,julianday(order_approved_at) - julianday(order_purchase_timestamp) AS approvation_days
            ,julianday(order_delivered_carrier_date) - julianday(order_approved_at) AS aprovation_to_carrier_days
            ,julianday(order_delivered_customer_date) - julianday(order_delivered_carrier_date) AS carrier_to_delivery_days

            FROM orders O
            LEFT JOIN order_items OI ON OI.order_id = O.order_id
            LEFT JOIN sellers S ON OI.seller_id = S.seller_id 

            WHERE order_status = 'delivered'
                AND strftime('%Y', order_purchase_timestamp) <> "2016"
                AND S.seller_id NOT IN ('7c67e1448b00f6e969d365cea6b010ab','897060da8b9a21f655304d50fd935913','88460e8ebdecbfecb5f9601833981930','1835b56ce799e6a4dc4eddc053f04066','4c2b230173bb36f9b240f2b8ac11786e','1025f0e2d44d7041d6cf58b6550e0bfa','4a3ca9315b744ce9f8e9374361493884','d2374cbcbb3ca4ab1086534108cc3ab7','8160255418d5aaa7dbdc9f4c64ebda44','e5a3438891c0bfdb9394643f95273d8e')
            )
        GROUP BY 1
        
        """

pd.read_sql_query(order, conn)

,purchase_date,avg_delivery_days,avg_estimated_delivery_days,pct_late_deliveries,avg_approvation_days,avg_aprovation_to_carrier_days,avg_carrier_to_delivery_days
0,2017-01,13.0,40.0,2.96,0.0,3.0,9.0
1,2017-02,13.0,32.0,3.40,0.0,3.0,9.0
2,2017-03,13.0,25.0,5.43,0.0,3.0,10.0
3,2017-04,15.0,27.0,7.67,1.0,3.0,11.0
4,2017-05,11.0,24.0,3.72,0.0,3.0,8.0
5,2017-06,12.0,24.0,3.87,0.0,3.0,9.0
6,2017-07,11.0,23.0,3.67,0.0,3.0,8.0
7,2017-08,11.0,24.0,3.10,0.0,3.0,8.0
8,2017-09,12.0,22.0,5.10,0.0,3.0,9.0
9,2017-10,12.0,23.0,5.05,0.0,3.0,8.0
10,2017-11,15.0,23.0,12.28,0.0,3.0,11.0
11,2017-12,15.0,28.0,8.20,0.0,3.0,12.0
12,2018-01,14.0,26.0,6.39,0.0,3.0,10.0
13,2018-02,17.0,24.0,14.91,0.0,3.0,13.0
14,2018-03,16.0,22.0,20.37,0.0,3.0,13.0
15,2018-04,11.0,24.0,4.90,1.0,2.0,8.0
16,2018-05,11.0,23.0,8.02,0.0,2.0,9.0
17,2018-06,9.0,28.0,1.37,0.0,2.0,7.0
18,2018-07,9.0,20.0,4.48,1.0,2.0,6.0
19,2018-08,8.0,15.0,10.35,0.0,2.0,5.0

The delivery delays are not primarily caused by low-performing sellers, but likely stem from other factors.

Even after filtering out the worst-rated sellers, the average delivery time remains elevated during the problematic months compared to historical trends.

Next, we’ll analyze delivery performance across different geographic regions.

## Delivery Time by State

In [23]:
order =""" SELECT
    
    customer_state
    ,ROUND(AVG(delivery_days),0) avg_delivery_days
    ,ROUND(AVG(estimated_delivery_days),0) avg_estimated_delivery_days
    ,ROUND((SUM(late_delivery) * 1.0 / COUNT(order_id))*100, 2) AS pct_late_deliveries
    ,ROUND(AVG(approvation_days),0) avg_approvation_days
    ,ROUND(AVG(aprovation_to_carrier_days),0) avg_aprovation_to_carrier_days
    ,ROUND(AVG(carrier_to_delivery_days),0) avg_carrier_to_delivery_days
            
        FROM 
            (SELECT 

            O.order_id
            ,C.customer_state
            ,strftime('%Y-%m', order_purchase_timestamp) purchase_date 
            ,julianday(order_delivered_customer_date) - julianday(order_purchase_timestamp) AS delivery_days
            ,julianday(order_estimated_delivery_date) - julianday(order_purchase_timestamp) AS estimated_delivery_days
            ,CASE
                WHEN julianday(order_delivered_customer_date) > julianday(order_estimated_delivery_date) THEN 1
                ELSE 0
            END AS late_delivery
            ,julianday(order_approved_at) - julianday(order_purchase_timestamp) AS approvation_days
            ,julianday(order_delivered_carrier_date) - julianday(order_approved_at) AS aprovation_to_carrier_days
            ,julianday(order_delivered_customer_date) - julianday(order_delivered_carrier_date) AS carrier_to_delivery_days

            FROM orders O
            LEFT JOIN customers C ON C.customer_id = O.customer_id 

            WHERE order_status = 'delivered'
                AND strftime('%Y', order_purchase_timestamp) <> "2016"
                            )
        GROUP BY 1
        ORDER BY 4 DESC
        
        """

pd.read_sql_query(order, conn)

,customer_state,avg_delivery_days,avg_estimated_delivery_days,pct_late_deliveries,avg_approvation_days,avg_aprovation_to_carrier_days,avg_carrier_to_delivery_days
0,AL,25.0,32.0,23.99,0.0,3.0,21.0
1,MA,22.0,30.0,19.64,1.0,3.0,18.0
2,PI,19.0,30.0,16.00,0.0,3.0,16.0
3,CE,21.0,31.0,15.40,0.0,3.0,18.0
4,SE,21.0,31.0,15.36,0.0,3.0,18.0
5,BA,19.0,29.0,14.05,0.0,3.0,16.0
6,RJ,15.0,26.0,13.52,0.0,3.0,12.0
7,TO,18.0,29.0,12.77,1.0,3.0,14.0
8,RR,30.0,45.0,12.50,0.0,3.0,26.0
9,PA,24.0,37.0,12.42,1.0,3.0,20.0
10,ES,16.0,26.0,12.25,0.0,3.0,12.0
11,MS,16.0,26.0,11.55,0.0,3.0,12.0
12,PB,20.0,33.0,11.05,1.0,3.0,17.0
13,RN,19.0,32.0,10.85,0.0,3.0,16.0
14,PE,18.0,31.0,10.84,0.0,3.0,15.0
15,SC,15.0,26.0,9.78,0.0,3.0,12.0
16,GO,16.0,27.0,8.21,1.0,3.0,12.0
17,RS,15.0,28.0,7.17,0.0,3.0,12.0
18,DF,13.0,24.0,7.09,0.0,3.0,10.0
19,MT,18.0,32.0,6.78,1.0,3.0,15.0
20,SP,9.0,19.0,5.90,0.0,3.0,6.0
21,MG,12.0,24.0,5.63,0.0,3.0,9.0
22,PR,12.0,24.0,5.02,0.0,3.0,9.0
23,AP,27.0,46.0,4.48,1.0,3.0,24.0
24,AM,26.0,45.0,4.14,0.0,2.0,24.0
25,AC,21.0,41.0,3.75,1.0,3.0,18.0
26,RO,19.0,39.0,2.88,1.0,2.0,17.0

Several states exhibit high delivery delay rates:

- 15 states recorded delay percentages above 10% in 2017 and 2018.  
- Among them, 5 states had delay rates exceeding 15%.

In [24]:
order =""" SELECT
    
    customer_state
    ,ROUND(AVG(delivery_days),0) avg_delivery_days
    ,ROUND(AVG(estimated_delivery_days),0) avg_estimated_delivery_days
    ,ROUND((SUM(late_delivery) * 1.0 / COUNT(order_id))*100, 2) AS pct_late_deliveries
    ,ROUND(AVG(approvation_days),0) avg_approvation_days
    ,ROUND(AVG(aprovation_to_carrier_days),0) avg_aprovation_to_carrier_days
    ,ROUND(AVG(carrier_to_delivery_days),0) avg_carrier_to_delivery_days
            
        FROM 
            (SELECT 

            O.order_id
            ,C.customer_state
            ,strftime('%Y-%m', order_purchase_timestamp) purchase_date 
            ,julianday(order_delivered_customer_date) - julianday(order_purchase_timestamp) AS delivery_days
            ,julianday(order_estimated_delivery_date) - julianday(order_purchase_timestamp) AS estimated_delivery_days
            ,CASE
                WHEN julianday(order_delivered_customer_date) > julianday(order_estimated_delivery_date) THEN 1
                ELSE 0
            END AS late_delivery
            ,julianday(order_approved_at) - julianday(order_purchase_timestamp) AS approvation_days
            ,julianday(order_delivered_carrier_date) - julianday(order_approved_at) AS aprovation_to_carrier_days
            ,julianday(order_delivered_customer_date) - julianday(order_delivered_carrier_date) AS carrier_to_delivery_days

            FROM orders O
            LEFT JOIN customers C ON C.customer_id = O.customer_id 

            WHERE order_status = 'delivered'
                AND strftime('%Y', order_purchase_timestamp) <> "2016"
                AND strftime('%Y-%M', order_purchase_timestamp) IN ('2018-03','2018-02','2017-11')
                            )
        GROUP BY 1
        ORDER BY 4 DESC
        
        """

pd.read_sql_query(order, conn)

,customer_state,avg_delivery_days,avg_estimated_delivery_days,pct_late_deliveries,avg_approvation_days,avg_aprovation_to_carrier_days,avg_carrier_to_delivery_days
0,CE,24.0,31.0,25.81,0.0,2.0,21.0
1,SE,22.0,34.0,25.00,0.0,7.0,15.0
2,BA,20.0,29.0,18.18,0.0,3.0,17.0
3,ES,18.0,25.0,15.22,1.0,3.0,14.0
4,MA,21.0,29.0,15.00,0.0,2.0,18.0
5,RJ,15.0,26.0,14.58,0.0,3.0,12.0
6,MT,24.0,34.0,14.29,1.0,2.0,22.0
7,SC,15.0,26.0,10.23,0.0,3.0,12.0
8,PB,25.0,38.0,10.00,0.0,3.0,21.0
9,DF,14.0,23.0,9.26,0.0,3.0,11.0
10,RS,15.0,29.0,8.80,1.0,3.0,11.0
11,PE,18.0,32.0,8.70,0.0,3.0,15.0
12,MG,13.0,24.0,8.30,0.0,3.0,9.0
13,SP,9.0,19.0,7.15,0.0,3.0,6.0
14,RN,17.0,31.0,6.25,1.0,3.0,13.0
15,MS,15.0,28.0,5.88,0.0,3.0,11.0
16,PR,12.0,24.0,5.74,1.0,2.0,9.0
17,GO,16.0,29.0,4.08,1.0,3.0,12.0
18,TO,13.0,29.0,0.00,0.0,2.0,11.0
19,RO,16.0,36.0,0.00,0.0,2.0,13.0
20,PI,18.0,34.0,0.00,0.0,2.0,16.0
21,PA,19.0,37.0,0.00,1.0,2.0,17.0
22,AP,33.0,46.0,0.00,0.0,3.0,30.0
23,AM,25.0,47.0,0.00,0.0,3.0,22.0
24,AL,17.0,31.0,0.00,0.0,1.0,15.0
25,AC,26.0,36.0,0.00,1.0,2.0,23.0

In the three worst months for customer reviews, three of the five states with the lowest historical review scores also appeared.

- In the top five, Ceará (CE) and Sergipe (SE) showed the most significant increases in delivery delays — 10.4% and 9.6% above the historical average, respectively.  
- Maranhão (MA) also appeared in the top five, despite having a 4.6% decrease in its delay rate compared to the historical average.  
- The other two states in the top five — Bahia (BA) and Espírito Santo (ES) — had increases between 3% and 4%.  
- In SE, there was a spike in the time between order approval and delivery to the logistics partner: 7 days vs. the historical average of 3 days.  
- Mato Grosso (MT) recorded an 8% increase in delivery delays.

On the other hand, Piauí (PI) and Alagoas (AL) had 0% delivery delays during this same period — indicating that although they are historically problematic states for delivery, they were not responsible for the KPI decline during these specific months.

# Conclusions

There was a revenue increase of **21,04%** in 2018 compared to 2017 (Jan–Aug 2018 vs. full-year 2017).

This growth was primarily driven by:
- The state of São Paulo, which grew by **33%**, and  
- Key product categories such as **Health and Beauty** (`beleza_saude`), **Gifts and Watches** (`relogios_presentes`), and **Home Utilities** (`utilidades_domesticas`).

The data suggests that a **sales strategy focused on quantity** is more effective in this marketplace than one focused on high prices.

- Among the top 15 highest-revenue categories, 13 also appeared in the top 15 for quantity sold, while only 2 were in the top 15 for average price.

In other words, revenue leaders in the sales mix are mostly high-volume products — with only one high-priced product category appearing among top earners.

Additionally, **12% of total revenue in 2018 came from 37 new sellers**, reinforcing the importance of onboarding and attracting new partners to the marketplace.

Finally, most negative customer reviews are tied to **delivery delays**.  
States with the worst review scores often overlap with those experiencing the highest delay rates — confirming that delivery performance plays a crucial role in customer satisfaction.